<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <div class="main_header">
            <div class="logo">
                <a href="/"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="links">
                <a href="/Agendamento">Agende com um mentor! </a>
                <a href="">Login</a>
                <a href="/">Home</a>
            </div>
        </div>
    </header>
    <!-- block content -->
    <!-- Foi usado no ranking.html , Mentor.html -->
    <div class="global_profile">
        <!-- Foi usado no ranking.html , Mentor.html -->
        <div class="main_profile">
            <!-- Foi usado no ranking.html , Mentor.html -->
            <div class="block_profile">
                <div class="profile">
                    <div class="profile_image">
                        <img src="https://cdn.pixabay.com/photo/2015/11/07/12/02/business-1031754_960_720.jpg" alt="">
                    </div>
                    <div class="profile_name">
                        <p>Seu nome</p>
                    </div>
                    <div class="seeprofile">
                        <button>Requisitar</button>
                    </div>
                    <div class="icons_profile">
                        <div class="icons_center">
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/733/733547.svg"
                                        alt=""></a>
                            </div>
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/733/733585.svg"
                                        alt=""></a>
                            </div>
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111646.svg"
                                        alt=""></a>
                            </div>
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111463.svg"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mesmo abas de todos as paginas relacionada ao perfil -->
            <div class="content_profile">
                <div class="tabs_profile">
                    <a href="">Buscar</a>
                    <a href="">Atividades</a>
                    <a href="">Ranking</a>
                    <a href="">Missões</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Endblock content -->
    <div class="footer">
        <p>© 2020 Copyright | InovAtiva PIM</p>
    </div>
</body>

</html>