{% extends "layout.njk" %}
{% block content %}
    <div class="global_register">
        <div class="main_registre">
            <div class="main_mentor">
                <div>
                    <p>Vire um Mentor!</p>
                </div>
                <a href="/Teachers/create" class="button">Registre-se</a>
            </div>
            <div class="main_user">
                <div>
                    <p>Ache um Mentor!</p>
                </div>
                <a href="/Students/create" class="button">Registre-se</a>
            </div>
        </div>
    </div>
{% endblock %}