<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <div class="main_header">
            <div class="logo">
                <a href="./Home-Page.html"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="links">
                <a href="./Ranking.html">Agende com um mentor! </a>
                <a href="./login.html">Login</a>
                <a href="./Home-Page.html">Home</a>
            </div>
        </div>
    </header>
    <!-- block content -->
    <div class="global_course">
        <div class="course">
            <div class="title_course">
                <p>Aprenda Mais!</p>
            </div>
            <section class="cards">
                <div class="card" id="">
                    <iframe width="560" height="400" src="https://www.youtube.com/embed/CZvtfZlBu58" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="card" id="">
                    <iframe width="560" height="400" src="https://www.youtube.com/embed/CZvtfZlBu58" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="card" id="">
                    <iframe width="560" height="400" src="https://www.youtube.com/embed/CZvtfZlBu58" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="card" id="">
                    <iframe width="560" height="400" src="https://www.youtube.com/embed/CZvtfZlBu58" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="card" id="">
                    <iframe width="560" height="400" src="https://www.youtube.com/embed/CZvtfZlBu58" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="card" id="">
                    <iframe width="560" height="400" src="https://www.youtube.com/embed/CZvtfZlBu58" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </section>
            <div class="proceed">
                <a href="./profile.html"><button>Avançar</button></a>
            </div>
        </div>
    </div>
    <!-- Endblock content -->
    <div class="footer">
        <p>© 2020 Copyright | InovAtiva PIM</p>
    </div>
</body>

</html>