{% extends "layout.njk" %}
{% block content %}
    <div class="global_index">
        <div class="main_index">
            <div class="main_timeline">
                <div class="title">
                    <p>Noticias Novas</p>
                </div>
                <div class="timeline_news">
                    <div class="news">
                        <div>
                            <h1>Noticia Nova#1</h1>
                            <p>Autor:Exemplo</p>
                        </div>
                        <img src="https://portogente.com.br/images/empreendedorismo_ideias.jpg" alt="">
                    </div>
                    <div class="news">
                        <div>
                            <h1>Noticia Nova#2</h1>
                            <p>Autor:Exemplo</p>
                        </div>
                        <img src="https://media.gazetadopovo.com.br/vozes/2018/02/20180102-legado-600x338-9d5fc0cc.jpg" alt="">
                    </div>
                    <div class="news">
                        <div>
                            <h1>Noticia Nova#2</h1>
                            <p>Autor:Exemplo</p>
                        </div>
                        <img src="https://media.gazetadopovo.com.br/vozes/2018/02/20180102-legado-600x338-9d5fc0cc.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="trends">
                <div class="bar_search">
                    <div>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/751/751463.svg" alt="">
                    </div>
                    <input type="text" placeholder="Pesquisar">
                </div>
                <div class="startups">
                    <div class="title_startups">
                        <h1>Usuarios Novos</h1>
                    </div>
                    <div class="item_startups">
                        <p>Localização</p>
                        <h1>Usuarios#1</h1>
                        <p>Pontos</p>
                    </div>
                    <div class="item_startups">
                        <p>Localização</p>
                        <h1>Usuarios#2</h1>
                        <p>Pontos</p>
                    </div>
                    <div class="item_startups">
                        <p>Localização</p>
                        <h1>Usuarios#3</h1>
                        <p>Pontos</p>
                    </div>
                    <div class="item_startups">
                        <p>Localização</p>
                        <h1>Usuarios#4</h1>
                        <p>Pontos</p>
                    </div>
                    <div class="item_startups">
                        <p>Localização</p>
                        <h1>Usuarios#5</h1>
                        <p>Pontos</p>
                    </div>
                </div>
                <div class="startups">
                    <div class="title_startups">
                        <h1>Mentores Novos</h1>
                    </div>
                    <div class="item_startups">
                        <p>Localização</p>
                        <h1>Mentor#1</h1>
                        <p>Pontos</p>
                    </div>
                    <div class="item_startups">
                        <p>Localização</p>
                        <h1>Mentor#2</h1>
                        <p>Pontos</p>
                    </div>
                    <div class="item_startups">
                        <p>Localização</p>
                        <h1>Mentor#3</h1>
                        <p>Pontos</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}