<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <div class="main_header">
            <div class="logo">
                <a href="./Home-Page.html"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="links">
                <a href="./Ranking.html">Agende com um mentor! </a>
                <a href="./login.html">Login</a>
                <a href="./Home-Page.html">Home</a>
            </div>
        </div>
    </header>
    <!-- block content -->
    <!-- Foi usado no tasks.html , ranking.html , Mentor.html -->
    <div class="global_profile">
        <div class="main_profile">
            <div class="block_profile">
                <div class="profile">
                    <div class="profile_image">
                        <img src="https://cdn.pixabay.com/photo/2015/11/07/12/02/business-1031754_960_720.jpg" alt="">
                    </div>
                    <div class="profile_name">
                        <p>Seu nome</p>
                    </div>
                    <div class="seeprofile">
                        <button>Requisitar</button>
                    </div>
                    <div class="icons_profile">
                        <div class="icons_center">
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/733/733547.svg"
                                        alt=""></a>
                            </div>
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/733/733585.svg"
                                        alt=""></a>
                            </div>
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111646.svg"
                                        alt=""></a>
                            </div>
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111463.svg"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mesmo no ranking.html e no mentors.html -->
            <div class="content_profile">
                <div class="tabs_profile">
                    <a href="./Mentors.html">Buscar</a>
                    <a href="./Ranking.html">Ranking</a>
                    <a href="./Tasks.html">Missões</a>
                </div>
                <!-- Search_mentor esta sendo usado no mentor.html como search_ranking -->
                <div class="search_mentor">
                    <div class="seach_filters">
                        <select name="" id="">
                            <option value="">Região1</option>
                            <option value="">Região2</option>
                            <option value="">Região3</option>
                        </select>
                    </div>
                    <input type="text">
                </div>
                <!-- mesmo no ranking.html e no mentors.html só que com classes diferentes -->
                <div class="mentors">
                    <div class="title_mentor">
                        <p>'numero' Usuarios estão precisando de Mentoria</p>
                    </div>
                    <div class="results_mentor">
                        <div class="result_mentor">
                            <div class="mentor_img">
                                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_960_720.jpg"
                                    alt="">
                            </div>
                            <div class="results_mentor_info">
                                <div class="name_mentor">
                                    <p>Nome</p>
                                </div>
                                <div class="mentor_description">
                                    <p>Dificuldades , desejos e oque eles buscam em mentores</p>
                                </div>
                                <div class="mentor_location">
                                    <p>Localização</p>
                                </div>
                            </div>
                        </div>
                        <!-- mesmo no ranking.html e no mentors.html só que com classes diferentes -->
                        <div class="result_mentor">
                            <div class="mentor_img">
                                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_960_720.jpg"
                                    alt="">
                            </div>
                            <!-- mesmo no ranking.html e no mentors.html só que com classes diferentes -->
                            <div class="results_mentor_info">
                                <div class="name_mentor">
                                    <p>Nome</p>
                                </div>
                                <!-- mesmo no ranking.html e no mentors.html só que com classes diferentes -->
                                <div class="mentor_description">
                                    <p>Dificuldades , desejos e oque eles buscam em mentores</p>
                                </div>
                                <!-- mesmo no ranking.html e no mentors.html só que com classes diferentes -->
                                <div class="mentor_location">
                                    <p>Localização</p>
                                </div>
                            </div>
                        </div>
                        <div class="result_mentor">
                            <div class="mentor_img">
                                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_960_720.jpg"
                                    alt="">
                            </div>
                            <div class="results_mentor_info">
                                <div class="name_mentor">
                                    <p>Nome</p>
                                </div>
                                <div class="mentor_description">
                                    <p>Dificuldades , desejos e oque eles buscam em mentores</p>
                                </div>
                                <div class="mentor_location">
                                    <p>Localização</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Endblock content -->
    <div class="footer">
        <p>© 2020 Copyright | InovAtiva PIM</p>
    </div>
</body>

</html>