<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <div class="main_header">
            <div class="logo">
                <a href="/"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="links">
                <a href="/Agendamento">Agende com um mentor! </a>
                <a href="">Login</a>
                <a href="/">Home</a>
            </div>
        </div>
    </header>
    <div class="global_profile">
        <div class="main_profile">
            <div class="block_profile">
                <div class="profile">
                    <div class="profile_image">
                        <img src="https://cdn.pixabay.com/photo/2015/11/07/12/02/business-1031754_960_720.jpg" alt="">
                    </div>
                    <div class="profile_name">
                        <p>Seu nome</p>
                    </div>
                    <div class="seeprofile">
                        <button>Requisitar</button>
                    </div>
                    <div class="icons_profile">
                        <div class="icons_center">
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/733/733547.svg"
                                        alt=""></a>
                            </div>
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/733/733585.svg"
                                        alt=""></a>
                            </div>
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111646.svg"
                                        alt=""></a>
                            </div>
                            <div class="iconcontact">
                                <a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111463.svg"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_profile">
                <div class="tabs_profile">
                    <a href="">Buscar</a>
                    <a href="">Atividades</a>
                    <a href="">Ranking</a>
                    <a href="">Missões</a>
                </div>

                <div class="search_ranking">
                    <div class="seach_filters">
                        <select name="" id="">
                            <option value="">Região1</option>
                            <option value="">Região2</option>
                            <option value="">Região3</option>
                        </select>
                    </div>
                    <input type="text">
                </div>
                <div class="ranking">
                    <div class="title_ranking">
                        <p>Ranking de Mentores</p>
                    </div>
                    <div class="results_ranking">
                        <div class="result_ranking">
                            <div class="ranking_img">
                                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_960_720.jpg"
                                    alt="">
                            </div>
                            <div class="results_ranking_info">
                                <div class="position_ranking">
                                    <p>#1</p>
                                </div>
                                <div class="name_ranking">
                                    <p>Nome</p>
                                </div>
                                <div class="ranking_description">
                                    <p>Dificuldades , desejos e oque eles buscam em mentores</p>
                                </div>
                                <div class="ranking_location">
                                    <p>Localização</p>
                                </div>
                            </div>
                        </div>
                        <div class="result_ranking">
                            <div class="ranking_img">
                                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_960_720.jpg"
                                    alt="">
                            </div>
                            <div class="results_ranking_info">
                                <div class="position_ranking">
                                    <p>#1</p>
                                </div>
                                <div class="name_ranking">
                                    <p>Nome</p>
                                </div>
                                <div class="ranking_description">
                                    <p>Dificuldades , desejos e oque eles buscam em mentores</p>
                                </div>
                                <div class="ranking_location">
                                    <p>Localização</p>
                                </div>
                            </div>
                        </div>
                        <div class="result_ranking">
                            <div class="ranking_img">
                                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_960_720.jpg"
                                    alt="">
                            </div>
                            <div class="results_ranking_info">
                                <div class="position_ranking">
                                    <p>#1</p>
                                </div>
                                <div class="name_ranking">
                                    <p>Nome</p>
                                </div>
                                <div class="ranking_description">
                                    <p>Dificuldades , desejos e oque eles buscam em mentores</p>
                                </div>
                                <div class="ranking_location">
                                    <p>Localização</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2020 Copyright | InovAtiva PIM</p>
    </div>
</body>

</html>