<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <div class="main_header">
            <div class="logo">
                <a href="/"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="links">
                <a href="/Agendamento">Agende com um mentor! </a>
                <a href="/Login">Login</a>
                <a href="/">Home</a>
            </div>
        </div>
    </header>
    <div class="global_login">
        <div class="main_login">
            <div class="login">
                <p>Cadastre-se</p>
                <div class="fields">
                    <div class="field">
                        <input type="text" placeholder="Seu Usuario">
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Senha">
                    </div>
                    <button class="submit">Registrar</button>
                </div>

            </div>
            <div class="overlay_login">
            </div>
        </div>
    </div>

    <div class="footer">
        <p>© 2020 Copyright | InovAtiva PIM</p>
    </div>
</body>

</html>