<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <div class="main_header">
            <div class="logo">
                <a href="/"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="links">
                <a href="/Agendamento">Agende com um mentor! </a>
                <a href="/Login">Login</a>
                <a href="/">Home</a>
            </div>
        </div>
    </header>
    <div class="global_tasks">
        <div class="tasks">
            <div class="main_tasks">
                <div class="search">
                    <div class="search_bar">
                        <input type="text" placeholder="Pesquisar">
                    </div>
                    <div class="search_block">
                        <p>Filtros</p>
                        <div class="filter_field">
                            <p>Região</p>
                            <select name="" id="">
                                <option value="">Região1</option>
                                <option value="">Região2</option>
                                <option value="">Região3</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="results">
                    <div class="results_title">
                        <p>Resultados localizados</p>
                    </div>
                    <div class="results_tasks">
                        <div class="task">
                            <div class="task_img">
                                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_960_720.jpg"
                                    alt="">
                            </div>
                            <div class="task_description">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <a href="">Saiba mais...</a>
                            </div>
                        </div>
                        <div class="task">
                            <div class="task_img">
                                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_960_720.jpg"
                                    alt="">
                            </div>
                            <div class="task_description">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <a href="">Saiba mais...</a>
                            </div>
                        </div>
                        <div class="task">
                            <div class="task_img">
                                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_960_720.jpg"
                                    alt="">
                            </div>
                            <div class="task_description">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <a href="">Saiba mais...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2020 Copyright | InovAtiva PIM</p>
    </div>
</body>

</html>