<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <!-- Foi usado em todo projeto no inicio -->
        <div class="main_header">
            <div class="logo">
                <a href="/"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="links">
                <a href="/Agendamento">Agende com um mentor! </a>
                <a href="/Login">Login</a>
                <a href="/">Home</a>
            </div>
        </div>
    </header>
    <!-- block content -->

    <!-- Endblock content -->
    <div class="footer">
        <p>© 2020 Copyright | InovAtiva PIM</p>
    </div>
</body>

</html>